*{margin: 0;padding: 0;font-family: "微软雅黑";}
html{
	font-size:62.5%;
}
body{
	line-height: 1.5;
	background:#fff;
}
ul,ol{
	list-style: none;
}
::selection{
	background: #ccc;
}
/*清除浮动*/
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
/*内容居中*/
.center{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
a{
	color:#000;
	text-decoration: none;
}

@media screen and (min-width:640px) and (max-width:800px) {
	 header{
    	width: 100%; 
    }
    .header{
    	width: 90%;
    	margin: 0 auto;
/*    	background: red;*/
    }
    .header>ul{
    	float: right;
    	padding:2rem 1rem;
    }
    .header>ul>li{
    	float: left;
    	padding-left: 30px;
    	font-size: 10px;
    	color: #515254;
    	cursor: pointer;
    }
    .header>ul>li:hover{
    	color: #32c6d4;
    }
     .header>ul>button{
    		/*padding: 8px;*/
    		display: none;
    }
    
    .banner{
    	width: 100%;
    	/*background: url(../img/large.png) no-repeat center;*/
    }
    .s-banner{
    	width: 100%;
    	background: url(../img/large.png) no-repeat center;
    }
    .ss-banner{
    	background: rgba(0,0,0,0.7);
    	padding-bottom: 200px;
    }
    .ss-banner>h1{
    	text-align: center;
    	color: white;
    	padding-top: 92px;
    	margin: 0px;
    }
    .ss-banner>span{
    	margin:auto;
    	display: block;
    	width: 70px;
    	border-bottom:1px #bbbbbb solid;
    	padding-top: 27px;
    }
    .ss-banner>p{
    	text-align: center;
    	font-size: 14px;
    	color: white;
    	padding-bottom: 86px;
    	padding-top: 28px;
    }
    .ss-banner>button{
    	width: 159px;
    	background: white;
    	color: #333333;
    	padding: 15px 0px;
    	border: 1px solid #cccccc;
    	border-radius: 3px;
    	margin: auto;
    	display: block;
    	font-size: 10px;
    	font-family: "微软雅黑";
    	cursor: pointer;
    	transition: 0.3s all;
    }
    .ss-banner>button:hover{
    	background: #333333;
    	color: white;
    	border: 1px solid #333333;
    }
    
      .rem{
    	width: 100%;
    	background: #32c5d2;
    	float: left;
    	color: white;
    }
    .rem>h1{
    	text-align: center;
    	font-size: 36px;
    	margin: 0;
    	padding: 1rem 0;
    }
    .rem>p{
    	text-align: center;
    	font-size: 14px;
    	padding-bottom: 1.5rem;
    }
    
     .met{
    	width: 100%;
    }
    .s-met{
    	width:90% ;
    	margin: 0 auto;
    }
    .met-left{
    	width: 50%;
    	float: left;
    	padding: 50px 0px;
    }
    .met-left>img,.med-left>img{
    	display: block;
    	width: 100%;
    	height: 100%;
    }
    .met-right{
    	width: 50%;
    	float: right;
    	padding: 50px 0px;
    }
    .met-right>p{
    	font-size: 26px;
    	font-weight: bold;
    	padding-left:2rem;
    }
    .met-right>span{
    	display: block;
    	width: 70px;
    	padding-top: 5rem;
    	margin-left: 2rem;
    	margin-bottom: 1rem;
    	border-bottom: 1px solid #515254;
    }
    .met-right>a{
    	display: block;
    	padding-left: 2rem;
    	line-height: 2.5rem;
    	font-size: 12px;
    	color: #555555;
    	padding-bottom: 30px;
    }
    .met-right>button{
    	padding: 1rem 4rem;
    	border: 0px;
    	background: #32C5D2;
    	border-radius: 3px;
    	font-family: "微软雅黑";
    	color: white;
    	margin-bottom: 68px;
    	margin-left: 2rem;
    }
    
    .med{
    	width: 100%;
    	background: #f5f5f5;
    }
    .s-med{
    	width:90% ;
    	margin: 0 auto;
    }
    .med-left{
    	width: 50%;
    	float: right;
    	padding: 50px 0px;
    }
    .med-right{
    	width: 50%;
    	float: left;
    	padding: 50px 0px;
    }
    .med-right>p{
    	font-size: 26px;
    	font-weight: bold;
    	/*padding-left:2rem;*/
    }
    .med-right>span{
    	display: block;
    	width: 70px;
    	padding-top: 5rem;
    	/*margin-left: 2rem;*/
    	margin-bottom: 1rem;
    	border-bottom: 1px solid #515254;
    }
    .med-right>a{
    	display: block;
    	/*padding-left: 2rem;*/
    	line-height: 2.5rem;
    	font-size: 12px;
    	color: #555555;
    	padding-bottom: 30px;
    }
    .med-right>button{
    	padding: 1rem 4rem;
    	border: 0px;
    	background: #32C5D2;
    	border-radius: 3px;
    	font-family: "微软雅黑";
    	color: white;
    	margin-bottom: 68px;
    	/*margin-left: 2rem;*/
    }
    
    .logo{
    	width: 100%;
    }
    .s-logo{
    	width: 90%;
    	/*background: red;*/
    	margin: 0 auto;
    }
    .s-logo>h1{
    	text-align: center;
    	padding: 30px 0px;
    	margin: 0;
    }
    .s-logo>span{
    	display: block;
    	margin: auto;
    	width: 70px;
    	border-top: 1px solid #bbbbbb;
    }
    .s-logo>ul{
    	width: 100%;
    }
    .s-logo>ul>li{
    	width: 25%;
    	/*padding-right: 109px;
    	padding-top: 50px;
    	padding-bottom: 50px;*/
    	float: left;
    }
    .s-logo>ul>li:last-of-type{
    	padding-right: 0px;
    }
    
    .end{
    	width: 100%;
    	background: #f5f5f5;
    	padding-bottom: 50px;
    }
    .s-end{
    	width: 90%;
    	margin: 0 auto;
    }
    .s-end>h1{
    	font-size: 16px;
    	padding-top: 45px;
    	width: 100%;
    }
    .s-end>p{
    	font-size: 12px;
    	color: #a4a4a4;
    	width: 58%;
    	/*background: red;*/
    	float: left;
    	padding-top: 24px;
    }
    .s-end>button{
    	padding: 1rem 4rem;
    	background: white;
    	border: 1px solid #32c5d2;
    	border-radius: 3px;
    	color: #32c8db;
    	font-family: "微软雅黑";
    	cursor: pointer;
    	transition: 0.5s all;
    }
    .s-end>button:hover{
    	background: #32C6D4;
    	color: white;
    }
    
    footer{
    	width: 100%;
    	text-align: center;
    	padding: 7px 0px;
    	background: #111111;
    	color: #ffffff;
    }
}